* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100px;
    width: 200px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
    border: 2px solid black;
}

input {
    padding: 10px;
    width: 100%;
    border: 2px solid whitesmoke;
    outline: none;
    border-radius: 7px;
}

.btn {
    background: rgb(20, 122, 231);
    padding: 20px;
    color: #fff;
    border: none;
    width: 100%;
    border-radius: 6px;
}

.others {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(20, 122, 231);
    margin-bottom: 50px;
}

.pass {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
}

.pass i {
    transform: translateX(-30px);
}